@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}

.blur_it {
    backdrop-filter: blur(20px);
    background-color: rgba(0,0,0,0.3);
}
.custom-sel > div:first-child{
    margin-top: auto;
} 